@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.custom-w {
  max-width: 1280px;
  margin: 0 auto;
}

.navbar-top {
  position: sticky;
  top: 0;
  background: white;
  z-index: 100; /* Adjust the z-index if needed */
}



/* src/components/RotatingLogo.css */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  font-size: 24px;
  display: inline-flex;
}
.logo-end{
  font-size: 40px;
  display: inline-flex;
}

.rotating-char {
  display: inline-flex;
  animation: rotate 10s linear infinite;
}

.background-image {
  @apply bg-[url('./images/back.jpg')] bg-cover bg-no-repeat bg-center;
  /* Other background properties can be added here */
}



