@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";
/* @import '@material-tailwind/react/tailwind.css'; */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
/* Default styles (mobile) */
.custom-w {
  max-width: 97%; /* Full width on mobile */
  margin: 0 auto; /* Centered on mobile */
}

/* Tablet styles */
@media (min-width: 768px) {
  *{
    font-family: 'Montserrat';
  }
  .custom-w {
    max-width: 568px; /* Adjust max-width for tablets */
  }

}

/* Desktop styles */
@media (min-width: 1024px) {
  .custom-w {
    max-width: 824px; /* Adjust max-width for desktops */
  }
}

/* Large screen styles */
@media (min-width: 1280px) {
  .custom-w {
    max-width: 1080px; /* Adjust max-width for large screens */
  }
}

@media (min-width: 1440px) {
  .custom-w {
    max-width: 1240px; /* Adjust max-width for large screens */
  }
}





@media only screen and (max-width: 640px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: none;

  }
}
@media only screen and (max-width: 940px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
    width: 60px; /* Set the width of the buttons */
  height: 60px; /* Set the height of the buttons */
  background-color: #b4b3b37e; /* Set the background color */
  color: #00000081; /* Set the text color */
  font-size: 5px !important; /* Set the font size */
  border-radius: 50%; /* Make the buttons circular */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  }
}
@media only screen and (max-width: 1880px) {
  .swiper-button-next,
  .swiper-button-prev {
    display: block;
    width: 60px; /* Set the width of the buttons */
  height: 60px; /* Set the height of the buttons */
  background-color: #b4b3b37e; /* Set the background color */
  color: #00000081; /* Set the text color */
  font-size: 5px !important; /* Set the font size */
  border-radius: 50%; /* Make the buttons circular */
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
    
  }
}

.navbar-top {
  position: sticky;
  top: 0;
  background: white;
  z-index: 100; /* Adjust the z-index if needed */
}

/* src/components/RotatingLogo.css */
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.logo {
  font-size: 24px;
  display: inline-flex;
}
.logo-end {
  font-size: 40px;
  display: inline-flex;
}

.rotating-char {
  display: inline-flex;
  animation: rotate 10s linear infinite;
}

.background-image {
  @apply bg-[url('./images/back.png')] bg-cover bg-no-repeat bg-center;
  /* Other background properties can be added here */
}

/*Hide the scrollbar*/
.overflow-y-scroll::-webkit-scrollbar {
  width: 0.5em; /*You can adjust the width to your preference*/
}

/* Hide the scrollbar track */
.overflow-y-scroll::-webkit-scrollbar-track {
  display: none;
}

.selected {
  background-color: #e7E0F8; /* Change to your desired background color */
  color: #000;
  border: 1px solid black; 
  font-weight: 500;/* Change to your desired text color */
}

/* custom.css */
input[type="checkbox"]:checked {
  color: gray;
}

/* Define styles for when the navigation bar is visible */
.show {
  opacity: 1; /* Adjust the visibility as needed */
  transition: opacity 0.3s ease-in-out; /* Add a transition effect */
}

/* Define styles for when the navigation bar is hidden */
.hide {
  opacity: 0;
  transform: translateY(-100%); /* Move it off the top of the screen */
  transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out; /* Add a transition effect */
}

/* Icon button styles */
.icon-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, color 0.2s ease-in-out;
}

.icon-button:hover {
  transform: scale(1.1); /* Adjust the scale factor as needed */
  color: #0070f3; /* Change to your desired hover color */
}

/* Icon styles */
.icon {
  width: 24px;
  height: 24px;
  /* Add any other icon-specific styles here */
}
.card-container {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.1); /* Lighter box shadow by default */
  transition: box-shadow 0.3s ease-in-out;
}

.card-container:hover {
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3); /* Higher box shadow on hover */
}



/* starts Social Icons Design bottom of the page found us on */
.social-icons{
  transition: all .3s ease-out;
  cursor: pointer;
}
.social-icons:hover{
  transform: scale(1.1); 
}

/* ends Social Icons Design bottom of the page found us on */


/* Start Assured section styles */
/* end Assured section styles */


